:root{
}

#body-content{
	width: 80%;
	margin: auto;
	padding-bottom: 50px;
}
#_header{
	width: 100% !important;
	overflow-anchor: hidden;
	height: 50px;
}
body{
	margin: 0;
	font-family: monospace;
	background: #111;
	color: ghostwhite;
}

/* EVENBLAD3 */
#evenblad3{
	font-size: 350%;
	color: crimson;
	text-shadow: 0px 0px 15px rgb(255, 0, 0);
}
.glow {
  color: rgb(0, 250, 100);
  text-shadow: 0px 0px 10px rgba(0, 250, 51, 1);
}
span {
  display: inline-block;
  padding: 0 0px;
}

/* ARTICLE */
article{
	padding: 7px 0px 7px;
	color: whitesmoke;
}
article:hover{
	color: palegreen;
	text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
}
.divider{
	outline: 1px dashed; dimgrey;
	margin: auto;
}
.article-header{
	margin: 30px 0px 0px;
	padding: 0px 0px 5px;
}
.article-link{
	text-decoration: none;
}

::-webkit-scrollbar{
	background: #1f1f1f;
	width: 15px;
}

::-webkit-scrollbar-thumb{
	background: rgb(0, 250, 51);
}